// Base
@import 'base/_reset';

// Components
@import 'components/_heading-lined';

// Layout
@import 'layout/_container';
@import 'layout/_navigation';

// Pages
@import 'pages/_module';

body {
  font-family: sans-serif;
  color: #1a1a1a;
  background: rgb(245, 247, 250);
}