.landing-page {
  min-height: 100vh;

  .landing-header {
    background: linear-gradient(to right, #2bbcff, #00a0eb);
    color: #fff;
    
    .landing-header-box {
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .landing-header__left {
        h1, h3 {
          max-width: 500px;
          word-wrap: break-word;
          line-height: 1.5em;
          margin-bottom: 1em;
        }
  
        h3 {
          color: darken(#fff, 10%);
        }

        margin-right: 50px;
      }
  
      .landing-header__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
  
        a {
          text-decoration: none;
          color: #fff;
          font-weight: bold;
          border: 1px solid darken(#fff, 20%);
          padding: 1em 0;
          width: 200px;
          text-align: center;
          transition: background linear .1s;
  
          &:hover {
            background: #fff;
            color: #00a0eb;
          }
        }
  
        .divider {
          display: block;
          text-align: center;
          margin-top: 20px;
          margin-bottom: 20px;
          color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .landing-page .landing-header-box {
    min-height: 100vh;
    flex-direction: column;
  }
  .landing-page .landing-header-box .landing-header__left {
    margin-right: 0 !important;
    margin-bottom: 50px;
    text-align: center;
  }
}