.post {
  grid-area: post;
  box-shadow: 0 0 5px rgb(224, 226, 228);
  background: #fff;

  .post__header {
    .post__cover {
      width: 100%;
      max-height: 400px;
      object-fit: cover;
    }
  }

  .post__content {
    padding: 20px;

    .post__heading, 
    .post__subheading {
      text-align: center;
      line-height: 1.125em;
    }
    
    .post__heading {
      margin-bottom: 1.25rem;
    }

    .post__subheading {
      margin-bottom: 1rem;
      color: #00a0eb; // Export that to theme
    }

    .post__content-wrapper {
      line-height: 1.5em;
    }
  }
}