.post-layout {
  display: grid;
  grid-row-gap: 20px;
  grid-column-gap: 30px;
  grid-template-columns: 3fr 1fr;
}

@media screen and (max-width: 768px) {
  .post-layout {
    grid-template-columns: 1fr;
  }
}